<h1>Artists</h1>

<% @artists.each do |artist| %>
  <p><%= link_to artist.name, artist_path(artist.id) %></p>
<% end %>

<button class="btn btn-danger">
  <%= link_to "Add new Artist", new_artist_path %>
</button>
