<header>

  <div>
    <h1>Welcome to <img src="http://res.cloudinary.com/dmj1w2it5/image/upload/v1499497978/IMG_1868_mdxn1l.png" /></h1>
    <h3><strong>real</strong> music for <strong>real</strong> devs</h3>
  </div>


</header>
